/* CSS declarations go here */
/*.agent-list {
  float: right;
  max-width: 28%;
}*/

.agent-inspect-left {
  float: left;
}

.agent-inspect-right {
  float: right;
  margin-left: 15px;
}

.prof-pic {
  max-height: 110px;
  max-width: 100px;
  min-height: 100px;
  min-width: 100px;
}

.form-page {
  margin: 0px auto;
  max-width: 45%;
}

.page-btn {
  margin-top: 15px;
}

.small-input {
  max-width: 65px;
}

.survey-question {
  margin: 5px 0px;
}
