/* CSS declarations go here */

/**********************
Agent List
**********************/
.ui.cards {
  overflow: auto;
  max-height: 400px;
}

.agent-list-btn {
  margin-top: 15px;
  margin-left: 7px !important;
}

#agent-list-header {
  padding: 4px 4px;
  border-radius: .28571429rem;
  background-color: rgba(224, 225, 226, 0.3);
  max-width: 290px;
}

.agent-inspect-left {
  display: inline-block;
}

.agent-inspect-right {
  display: inline-block;
  margin-left: 15px;
}

/**********************
Form Pages
**********************/
.prof-pic {
  max-height: 120px;
  max-width: 100px;
  min-height: 110px;
  min-width: 100px;
  margin: 0px auto;
}

@media only screen and (min-width: 768px){
  .form-page {
    margin: 0px auto;
    max-width: 45%;
    }
  }

.page-btn {
  margin-top: 15px;
}

.small-input {
  max-width: 75px;
}

.survey-question {
  margin: 5px 0px;
  display: block !important;
}

.final-survey-question {
  margin: 12px 0px;
  display: block;
}

.extra-check {
  float: right;
  margin-bottom: 20px;
}

.dropzone {
  width: 0px;
  height: 0px;
}

.page5-btm-segment{
  min-height: 288px;
}

.page5-top-segment{
  min-height: 214px;
}

/**********************
Agent Search Bar
**********************/

.search-bar {
  padding-top: 15px;
  padding-bottom: 5px;
  padding-left: 5px;
  margin-bottom: 15px;
  border-radius: .28571429rem;
  background-color: rgba(224, 225, 226, 0.3);
  overflow-x: scroll;
}

.nav-bar {
  height: 75px;
}
